*{
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
font-family: "Aeonik", "Trebuchet MS", Arial, sans-serif;
background-color: rgb(20, 2, 49);
}


h1{ font-size:  3.5em;}
h2 { font-size: 2.7em;}
h3 {  font-size: 2em;}
p{font-size: 1.25;}

button {
  font-size: 1em;
  font-weight: bold;
  padding: 10px 30px;
  border-radius: 25px;
  border: 1.5px solid rgba(0, 0, 0, 0.5);
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
  color: #fff;
  background-color: #c8a6eb;
  cursor: pointer;
}
button:hover{
    background-color: rgb(20, 2, 49);
}
.container{
max-width: 1400px;
margin:auto;
}
header{
    background-color: rgb(20, 2, 49);
}
header .logo{
    margin:0;
    padding: 25px 30px;
    font-weight: bold;
    color: #fff;
    font-size: 1.9em;
}
header .container{
display: flex;
flex-direction: column;
align-items: center;
}
header nav{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 25px;

}
header a{
    padding: 5px 12px;
    text-decoration: none;
    font-weight: normal ;
    color: rgb(241, 241, 241);
}
header a:hover{
    color:rgb(68, 67, 68);;
}
#hero{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 90vh;
    color: #fff;
    background-image: linear-gradient( 0deg, 
    rgba(0, 0, 0, 0.5), 
    rgba(0, 0, 0, 0.5)
    )
     ,url("media/editora.jpg");
     background-repeat: no-repeat;
     background-size: cover;
     background-position: center center;
}
#hero h1{
    color: #fff;
}
 #Sobre-mi .container{
    text-align: center;
    padding: 200px 12px;
    color: #d6d3d3;
 }
#Servicios{
    background-color: rgb(20, 2, 49);;
    color: #d6d3d3;
    text-align: center;
}
#Servicios .container{
    padding: 150px 12px;
    color: #d6d3d3;
}

#Servicios h2{
    text-align: center;
    margin-top: 0;
    font-size: 3.2em;
    color: #d6d3d3;
    justify-content: center;
}
#Servicios p{
    display: none;
    color: #d6d3d3;
    text-align: center;
}

#Servicios .carta{
    background-position: center center;
    background-size: cover;
    padding: 50px;
    margin: 30px;
    border-radius: 15px;
    color: #d6d3d3;
    justify-content: center;
}
.carta:first-child{
    background-image: linear-gradient( 0deg, 
    rgba(0, 0, 0, 0.5), 
    rgba(0, 0, 0, 0.5)
    )
     ,url("media/diseniando.jpg");
}
.carta:nth-child(2){
    background-image: linear-gradient( 0deg, 
    rgba(0, 0, 0, 0.5), 
    rgba(0, 0, 0, 0.5)
    )
     ,url("media/note.jpg");
}
.carta:nth-child(3){
    background-image: linear-gradient( 0deg, 
    rgba(0, 0, 0, 0.5), 
    rgba(0, 0, 0, 0.5)
    )
     ,url("media/webpro.jpg");
}
footer{
    background-color:  rgb(20, 2, 49);
}
footer{
    margin: 0;
}
footer .container{
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
 h2{
    text-align: center;
    margin-top: 0;
    font-size: 3.2em;
    color: #d6d3d3;
    justify-content: center;
}
@media (min-width: 720px){
    header{
        position: fixed;
        width: 100%
    }
header .container{
    flex-direction: row;
    justify-content: space-between;
}
}
header nav{
    flex-direction: row;
    padding-bottom: 0;
padding-right: 20px;
}
#Sobre-mi .container{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 40px;
}
#Sobre-mi .texto{
width: 50%;
max-width: 600px;
text-align: initial;
padding: 0px 30px;
display: flex;
}
#Sobre-mi h2 {
    margin-top: 0px;
}
#Sobre-mi .img.container{
background-image: url("media/generateyo.jpg");
background-size: cover;
background-position: center center;
height: 500px;
width: 400px;
border-radius: 10px;
}
#Servicios .Servicios{
    display: flex;
    justify-content: center;
}
#Servicios p{
    display: block;
    margin-bottom: 30px;
}
#Servicios h3{
    margin-top: 0;
}
#Servicios .carta{
    padding: 15px;
}
#leyenda{ 
    background-image: url();

}
#leyenda .container{
    text-align: initial;
}
#leyenda ul{
    margin-left: 100px;
}